:root {
  --altura: 150px;
  --largura: 100px;
  --corVc: #ce2117;
  --corVf: #ddd9ce;
  --corPc: #332e30;
  --corPf: #ddd9ce;
  --corVi: #ddd9ce;
  --corPo: #211e21;
  --fontF: 'Roboto', sans-serif;
}

.posicoes {
  position: absolute;
  width: 724px;
  height: auto;
  left: 50%;
  margin-left: -352px;
}

.naipe,
.casa,
.baralho {
  width: var(--largura);
  height: var(--altura);
  background: var(--corPo);
  border-radius: 20px;
  display: inline-block;
}

* {
  user-select: none;
}

body {
  background: white;
  background-image: url("../assets/images/background.jpg");
  background-size: cover, contain;
}

.hearts,
.diamonds {
  background: var(--corVc);
  color: var(--corVf);
}

.spades,
.clubs {
  background: var(--corPc);
  color: var(--corPf);
}

.card{
  font-family: monospace;

  position: absolute;
  border-radius: 8px;
  width: var(--largura);
  height: var(--altura);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  box-sizing: border-box;
  padding: 2px;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16px;
  color: white;
}

.body {
  display: flex;
  width: 65px;
  height: 110px;
  border: 1px white solid;
  align-self: center;
  color: white;
}

.suits_symbols {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.symbols {
  font-size: 17pt;
}

.suits_symbols > div {
  display: flex;
  justify-content: center;
}

.footer {
   transform: rotate(180deg);
}

.sombra {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cartaVirada,
virada {
  background: var(--corVi);
  color: black;
  border-top: solid 1px;
  border-color: black;
  background-image: url("../assets/images/verse.jpg");
  background-size: cover;
}

#naipes {
  position: absolute;
  left: 310px;
  top: 0px;
}

#baralhos {
  position: absolute;
  left: 0px;
  top: 0px;
}

#casas {
  position: absolute;
  left: 0px;
  top: 180px;
}

